<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooking.edit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TabLayoutKotlin">
        <activity android:name=".food_fragment.Porkf"></activity>
        <activity android:name=".food_details.SidedishDetails" />
        <activity android:name=".food_details.RiceDetails" />
        <activity android:name=".food_details.NoodlesDetails" />
        <activity android:name=".food_details.SoupDetails" />
        <activity android:name=".food_details.DessertDetails" />
        <activity android:name=".food_details.BreakfastDetails" />
        <activity android:name=".food_details.EasyDetails" />
        <activity android:name=".food_details.BreakfastdetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>